__pycache__/
*.pyc
*.pyo
back/.env*
.venv/
venv/

web/node_modules/
web/.pnp
web/.pnp.*
web/.yarn/*
!web/.yarn/patches
!web/.yarn/plugins
!web/.yarn/releases
!web/.yarn/versions

web/coverage/
web/.next/
web/out/
web/build/
web/.vercel/

.env*
web/.env*

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

.DS_Store
Thumbs.db
*.pem

*.tsbuildinfo
web/next-env.d.ts

supabase/.branches
supabase/.temp
supabase/.env.keys
supabase/.env.local
supabase/.env.*.local